:root {
  /* General Colors */
  --color-white: #ffffff;
  --color-black: #0a0a0a;
  
  /* main bg color*/
  --color-background-dark: #131213;
  
  /* footer/expanded input */
  --color-gray-dark: #232323;
  /* selected course, togglebtn, profile menu */
  --color-gray-medium: #2a2a2a;
  --color-gray-light: #414141;
  
  --color-gray-lighter: #747474;

  /* fontawesome icons */
  --color-gray-shadow: #5b5b5b;
  
  /* Disable btns */
  --color-disabled: rgb(196, 195, 195);
  
  
  /*

  burger
  #41414160
  #41414149

  chat bubble
  #1a1a1b

  owlie
  #444444

  */
}
