.light-theme {
    /* General Colors */
    --color-white: #ffffff;
    --color-black: #f9f9f9; /* or a darker tone for text */
  
    /* main bg color*/
    --color-background-dark: #ffffff; /* lighter background */
  
    /* footer/expanded input */
    --color-gray-dark: #ffffff;
    /* selected course, togglebtn, profile menu */
    --color-gray-medium: #d0d0d0;
    --color-gray-light: #c0c0c0;
  
    --color-gray-lighter: #b0b0b0;

    /* fontawesome icons */
    --color-gray-shadow: #a0a0a0;
  
    /* Disable btns */
    --color-disabled: rgb(220, 220, 220);

    --chat-bubble: #f4f4f4;

    --custom-input-box-shadow: 0px 3px 9px rgba(59, 59, 59, 0.2); 

    --send-button-bg-color: black;

    --send-button-color: white;




    /* COMPONENT COLORS */
    --text-color: #0D0D0D;
    --background: #ffffff;
    --message-input: #ffffff;
    --message-input-shadow: 0px 3px 9px rgba(59, 59, 59, 0.2);;
    
    --profile-menu: #ffffff;
    --settings: #ffffff;
    --settings-option: #ffffff;
    
    --sidebar: #f9f9f9;
    --hover: #ECECEC;
    --chat-bubble: #f4f4f4;
    --chat-bubble-shadow: 0 0px 10px #b0b0b0; /*CHANGE*/
    --send-button-background: #000000;
    --send-button-background-inactive: #C4C3C3; /*CHANGE*/
    --stop-button-background: #000000;

    --send-file-button-background: #5b5b5b; /*CHANGE*/

    --profile-menu-icons: #000000;
    --homepage-icons: #5D5D5D;

    --magnifying-glass-inactive: #5b5b5b; /*CHANGE*/

    --mode-selector-background: #2a2a2a; /*CHANGE*/
    --mode-selector-background-hover: #323232; /*CHANGE*/
    --mode-selector-background-selected: #4c4c4c; /*CHANGE*/

    --info-icon-background: #000000;

    --reload-icon-open: #000000;
    --reload-icon-close: #5b5b5b; /*CHANGE*/

    --expand-message-input-icon: #5b5b5b; /*CHANGE*/

    --file-widget-background: #5b5b5b; /*CHANGE*/
}