:root {
  /* View: Login */
  --background: #131213;

  --text-color: #ffffff;
  --login-button-bg: #ffffff;
  --login-button-bg-hover: #e0e0e0;
  --login-button-bg-active: #d1d1d1;
  --login-button-color: #000000;

  --login-input-bg: #2a2a2a;
  --login-input-border-color: #414141;

  --color-disabled: rgb(220, 220, 220);
}

[data-theme="light"] {
  --background: #ffffff;

  --text-color: #000000;
  --login-button-bg: #000000;
  --login-button-bg-hover: #1a1a1a;
  --login-button-bg-active: #333333;
  --login-button-color: #ffffff;

  --login-input-bg: #f0f0f0;
  --login-input-border-color: #cccccc;

  --color-disabled: rgb(220, 220, 220);
}